/* ==========================================================================
   FOOTER
   ========================================================================== */

   .page__footer {
    @include clearfix;
    float: left;
    margin: 0; /* Remove any default margins */
    width: 100%;
    clear: both;
    /* sticky footer fix start */
    position: absolute;
    bottom: 0;
    height: auto;
    /* sticky footer fix end */
    margin-top: 1em; /* Reduced from 3em to 1em */
    color: mix(#fff, $gray, 25%);
    -webkit-animation: intro 0.3s both;
            animation: intro 0.3s both;
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    background-color: $lighter-gray;
    border-top: 1px solid $light-gray;
  
    footer {
      @include clearfix;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0.5em; /* Reduced from 2em to 0.5em */
      margin-bottom: 0.5em; /* Added to reduce bottom margin */
      max-width: 100%;
      padding: 0.5em 1em; /* Reduced padding */
      
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }
  
    a {
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    .fas,
    .fab,
    .far,
    .fal {
      color: mix(#fff, $gray, 25%);
    }
  }
  
  .page__footer-copyright {
    font-family: $global-font-family;
    font-size: $type-size-7;
    margin: 0; /* Ensure no margin is added */
    padding: 0.5em 0; /* Reduced padding */
  }
  
  .page__footer-follow {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  
    li {
      display: inline-block;
      padding: 2px 5px; /* Reduced padding */
      font-family: $sans-serif-narrow;
      font-size: $type-size-6;
      text-transform: uppercase;
    }
  
    li + li:before {
      content: "";
      padding-right: 2px; /* Reduced padding */
    }
  
    a {
      padding-right: 5px; /* Reduced padding */
      font-weight: bold;
    }
  
    .social-icons {
      a {
        white-space: nowrap;
      }
    }
  }
  